



    <nav id="navbar">
        <ul>
            <a href="#home-link"><li id="frontpage">JK</li></a>
            <a href="#me-link"><li class="link">Minä</li></a>
            <a href="#skills-link"><li class="link">Taidot</li></a>
            <a href="#cv-link"><li class="link">CV</li></a>
            <a href="#interests-link"><li class="link">Kiinnostukset</li></a>
            <a href="#contact-link"><li class="link">Yhteys</li></a>
        </ul>
    </nav>

    <div id="currentwrap">
    
        <p id="currentpage">{{current}}</p>
    
    </div>

    <div id="mynamewrap">
    
        <p id="myname">Jukka Keränen</p>
    
    </div>

    <p id="arrow">&#8595;</p>  

    <div (click)="menu()" id="hamburger">
        <div class="ham"></div>
        <div class="ham"></div>
        <div class="ham"></div>
    </div>


    <div id="headerbox">
        <div class="inbox"></div>
        <div class="inbox"></div>
        <div class="inbox"></div>

        <div class="inbox"></div>
        <div class="inbox"></div>
        <div class="inbox"></div>

        <div class="inbox"></div>
        <div class="inbox"></div>
        <div class="inbox"></div>
    </div>


   <div id="animationbox">
    <div id="circle"></div>
   </div>

    <nav id="mobilemenu">

            <ul id="links2">
                    <a (click)="menu()" href="#home-link"><li class="link2">JK</li></a>
                    <a (click)="menu()" href="#me-link"><li class="link2">Minä</li></a>
                    <a (click)="menu()" href="#skills-link"><li class="link2">Taidot</li></a>
                    <a (click)="menu()" href="#cv-link"><li class="link2">CV</li></a>
                    <a (click)="menu()" href="#interests-link"><li class="link2">Kiinnostukset</li></a>
                    <a (click)="menu()" href="#contact-link"><li class="link2">Yhteys</li></a>
            </ul>

    </nav>

<router-outlet></router-outlet>
