<div id="empty"></div>

<div class="pagelink" id="home"></div>
<div id="pagewrap">

<div id="homewrap">

    <div id="homewelcomewrap">

        
        <div id="homewelcome">
        <div id="hometextwrap">
        <h1 id="hometitle">Jukka Keränen</h1>
        <p id="hometitletext">Ansioluettelo</p>
        </div>

        <img id="homeme" src="assets/pictures/me7.jpg" alt="image">

         </div>

    
    </div>

    <div class="pagelink" id="me"></div>
    <div id="mewrap">
        

        <div id="mewrap2">
        <div id="metitle">
            <h2 id="metitleh2">Minä</h2>
        </div>

        <div id="metext">
            <p>Terve! Vaimoni sanoi, että olen luonteeltani puoliksi insinööri ja puoliksi taiteilija. Väite saattaa pitää paikkansa, sillä olen työskennellyt esimerkiksi kirjanpidon ja musiikin parissa, sekä kiinnostukseni ulottuvat ohjelmoinnista elokuviin. Best of both worlds niin kuin sanonta kuuluu. Vaikka olen liikkunut näiden kahden puolen välillä, olen aina suhtautunut intohimoisesti siihen, mitä teen. Vahva draivi ei kuulu vain taiteilijoille ;) </p>
            <p>Nyt kun kerran eksyit tänne sivuille, niin käypä lukemassa minusta lisää alempaa ja kiva, että pistäydyit!</p>
            <p>- Jukka</p>
        </div>
    </div>

    </div>

     <div class="pagelink" id="skills"></div>
        <div id="skillswrap">



            <div id="skillstext">
                <h2 id="skillstitle">Taidot</h2>
                <div id="skillstextwrap">
                <h3>Projektinhallinta</h3>
                <p>Hoidin läpi useita julkisivuremontteja perheyrityksessämme. Vastuullani oli esimerkiksi projektien eteneminen, tarvikkeiden hankinta ja työntekijöiden ohjaaminen. Langat pysyvät siis käsissä isommissakin projekteissa.</p>
    
                <h3>Ohjelmointi</h3>
                <p>Koodasin tämän nettisivun itse. Ja olen koodannut paljon muutakin! Tsekkaa koodiportfolioni <a id="portfolio-link" href="http://portfolio.jkeranen.com" target="_blank">täältä</a>.</p>
    
                <h3>Talousosaaminen</h3>
                <p>Sen lisäksi, että olin vastuussa perheyrityksemme kirjanpidosta ja tilinpäätöksestä, tykkään myös sijoittaa ja tehdä exceleitä tarpeen tullen. Numerot siis sujuu.</p>
    
                <h3>Viestintä</h3>
                <p>Pääaineeni yliopistossa oli mediatutkimus ja olen tehnyt hieman alan töitäkin. Tekstin tuottaminen ja yleismaailmallinen viestintä ovat siis hyvin hallinnassa.</p>
    
                
            </div>
            </div>

        </div>

        <div class="pagelink" id="cv"></div>
            <div id="cvwrap">

                <div id="cvtext">
        
                    <h2 id="cvtitle">Valikoitu työhistoria</h2>
        
                    <div class="jobtext">
                    <p class="cvyear">2012 - 2019</p>
                    <div class="jobtext2">
                    <p>Julkisivupinnoitus Keränen Oy</p>
                    <p class="jobtitle">Projektipäällikkö / Talousvastaava</p>
                    <p>Olin vastuussa useista julkisivuremonttien toteuttamisesta ja perheyrityksemme kirjanpidosta sekä tilinpäätöksestä. Tein myös hieman markkinointia. Nämä tehtävät eivät vieneet koko työaikaani, joten toimin myös samalla rakennusmiehenä.</p>
                    </div>
                    </div>
        
                    <div class="jobtext">
                            <p class="cvyear">2003 – 2019</p>
                            <div class="jobtext2">
                            <p>Julkisivupinnoitus Keränen Oy</p>
                            <p class="jobtitle">Rakennusmies</p>
                            <p>Olen kokenut rakennusmies.</p>
                            </div>
                    </div>
        
                    <div class="jobtext">
                            <p class="cvyear">2013 – 2018</p>
                            <div class="jobtext2">
                            <p>Freelancer</p>
                            <p class="jobtitle">Kirjanpitäjä</p>
                            <p>Minulla oli asiakkaina muutamia pienyrityksiä, joille tein kirjanpidon ja tilinpäätöksen. Avustin myös muissa taloushallintoon liittyvissä asioissa.</p>
                            </div>
                    </div>
        
                    <div class="jobtext">
                            <p class="cvyear">2015 – 2018</p>
                            <div class="jobtext2">
                            <p>KameraOne / Freelancer</p>
                            <p class="jobtitle">Videotoimittaja</p>
                            <p>Käänsin englanninkielisiä viihdeuutisia suomen kielelle ja tein niihin voiceoverit. Uutisia julkaistiin Iltalehden, Ilta-sanomien ja MSN-portaalin verkkosivuilla. Työ oli satunnaista.</p>
                            </div>
                    </div>
        
                    <div class="jobtext">
                            <p class="cvyear">2004 - 2015</p>
                            <div class="jobtext2">
                            <p>Freelancer</p>
                            <p class="jobtitle">Musiikkiteknologi ja musiikkituottaja</p>
                            <p>Olen tehnyt äänityksiä ja miksauksia, sekä tuottanut musiikkia useille artisteille ja kokoonpanoille. Yhteistyökumppaneita ovat olleet esimerkiksi Cheek, Herrasmiesliiga, Brädi ja Ideaali & Jay Who.</p>
                            </div>
                    </div>
        
                    <div id="education">
                        <h3>Koulutus</h3>
        
                        
                    <div class="jobtext">
                            <p class="cvyear">2007 – 2014</p>
                            <div class="jobtext2">
                            <p class="jobtitle">Filosofian maisteri, Turun yliopisto</p>
                            <p>Pääaine mediatutkimus, sivuaineet laskentatoimi (laaja) ja musiikkitiede (laaja).</p>
                    </div>
                    </div>
        
                    </div>
        
                    <p id="cvtext">Lataa koko CV <a id="cvlink" href="assets/jukkakeranen.pdf" target="_blank">täältä</a>.</p>
        
                </div>

            </div>

            <div class="pagelink" id="interests"></div>
                <div id="interestswrap">

                    <div id="interestswrap2">
                    <h2 id="intereststitle">Kiinnostukset</h2>
            
                    <div id="intereststext">
                        <p>Olen pelannut videopelejä 7-vuotiaasta asti ja pelaan edelleen. Tällä hetkellä työn alla on Evil Within 2.</p>
                        <p>Myös elokuvat ovat kiinnostaneet kauan. Tällä hetkellä odotuksessa on James Grayn ohjaama Ad Astra.</p>
                        <p>Musiikki on kuulunut elämääni aina. Vaikka en ole enää niin aktiivinen muusikko, kuuntelen edelleen paljon musiikkia ja ajoittain puuhailen pienten musiikkiprojektien kanssa.</p>
                        <p>Pidän sijoittamisesta, joten seuraan osakemarkkinoita jonkin verran.</p>
                        <p></p>
                    </div>
                </div>

                </div>
            
                <div class="pagelink" id="contact"></div>
                <div id="contactwrap">
            
                    <div id="contacttext">
                        <p>keranen.jukkapetteri@gmail.com</p>
                        <p>050 344 0852</p>
                    </div>
            
                </div>
            
            </div>
</div>
