<div id="empty"></div>

<div class="pagelink" id="home-link"></div>
<div id="pagewrap">

<div id="homewrap">

    <div id="homewelcomewrap">

        
        <div id="homewelcome">
        <div id="hometextwrap">
        <h1 id="hometitle">Jukka Keränen</h1>
        <p id="hometitletext">Ansioluettelo</p>
        </div>

        <img id="homeme" src="assets/pictures/me4.jpg" alt="image">

         </div>

    
    </div>

    <div class="pagelink" id="me-link"></div>
    <div id="mewrap">
        

        <div id="mewrap2">
        <div id="metitle">
            <h2 id="metitleh2">Minä</h2>
        </div>

        <div id="metext">
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
        </div>
    </div>

    </div>

     <div class="pagelink" id="skills-link"></div>
        <div id="skillswrap">



            <div id="skillstext">
                <h2 id="skillstitle">Taidot</h2>
                <div id="skillstextwrap">
                <h3>Projektinhallinta</h3>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    
                <h3>Ohjelmointi</h3>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    
                <h3>Talousosaaminen</h3>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    
                <h3>Viestintä</h3>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    
                
            </div>
            </div>

        </div>

        <div class="pagelink" id="cv-link"></div>
            <div id="cvwrap">

                <div id="cvtext">
        
                    <h2 id="cvtitle">Valikoitu työhistoria</h2>
        
                    <div class="jobtext">
                    <p class="cvyear">2012 - 2019</p>
                    <div class="jobtext2">
                    <p>Julkisivupinnoitus Keränen Oy</p>
                    <p><span style="font-weight: bold">Projektipäällikkö / Talousvastaava</span></p>
                    <p>Olin vastuussa useista julkisivuremonttien toteuttamisesta ja yrityksen kirjanpidosta sekä tilinpäätöksestä. Tein myös hieman markkinointia. Nämä tehtävät eivät vieneet koko työaikaani, joten toimin myös samalla rakennusmiehenä.</p>
                    </div>
                    </div>
        
                    <div class="jobtext">
                            <p class="cvyear">2003 – 2019</p>
                            <div class="jobtext2">
                            <p>Julkisivupinnoitus Keränen Oy</p>
                            <p><span style="font-weight: bold">Rakennusmies</span></p>
                            <p>Olen kokenut rakennusmies.</p>
                            </div>
                    </div>
        
                    <div class="jobtext">
                            <p class="cvyear">2013 – 2018</p>
                            <div class="jobtext2">
                            <p>Freelancer</p>
                            <p><span style="font-weight: bold">Kirjanpitäjä</span></p>
                            <p>Minulla oli asiakkaina muutamia pienyrityksiä, joille tein kirjanpidon ja tilinpäätöksen. Avustin myös muissa taloushallintoon liittyvissä kysymyksissä.</p>
                            </div>
                    </div>
        
                    <div class="jobtext">
                            <p class="cvyear">2013 – 2018</p>
                            <div class="jobtext2">
                            <p><span style="font-weight: bold">Freelancer</span></p>
                            <p>KameraOne</p>
                            <p>Käänsin englanninkielisiä viihdeuutisia suomen kielelle ja tein niihin voiceoverit. Uutisia julkaistiin Iltalehden, Ilta-sanomien ja MSN-portaalin verkkosivuilla. Työ oli satunnaista.</p>
                            </div>
                    </div>
        
                    <div class="jobtext">
                            <p class="cvyear">2004 - 2015</p>
                            <div class="jobtext2">
                            <p>Freelancer</p>
                            <p><span style="font-weight: bold">Musiikkiteknologi ja musiikkituottaja</span></p>
                            <p>Olen tehnyt äänityksiä ja miksauksia, sekä tuottanut musiikkia useille artisteille ja kokoonpanoille. </p>
                            </div>
                    </div>
        
                    <div id="education">
                        <h3>Koulutus</h3>
        
                        
                    <div class="jobtext">
                            <p class="cvyear">2007 – 2014</p>
                            <div class="jobtext2">
                            <p><span style="font-weight: bold">Filosofian maisteri, Turun yliopisto</span></p>
                            <p>Pääaine mediatutkimus, sivuaineet laskentatoimi (laaja) ja musiikkitiede (laaja).</p>
                    </div>
                    </div>
        
                    </div>
        
                    <p>Lataa koko CV täältä.</p>
        
                </div>

            </div>

            <div class="pagelink" id="interests-link"></div>
                <div id="interestswrap">

                    <div id="interestswrap2">
                    <h2 id="intereststitle">Kiinnostukset</h2>
            
                    <div id="intereststext">
                        <p>Olen pelannut videpelejä 7-vuotiaasta asti ja pelaan edelleen. Tällä hetkellä työn alla on Evil Within 2.</p>
                        <p>Myös elokuvat ovat olleet juttuni lapsesta asti. Tällä hetkellä odotuksessa on Ad Astra. Toivottavasti se on hyvä...</p>
                        <p>Kuuntelen paljon musiikkia ja ajoittain puuhailen pienten musiikkiprojektien kanssa.</p>
                        <p>Olen aktiivinen sijoittaja, joten seuraan osakemarkkinoita jonkin verran.</p>
                        <p></p>
                    </div>
                </div>

                </div>
            
                <div class="pagelink" id="contact-link"></div>
                <div id="contactwrap">
            
                    <div id="contacttext">
                        <p>keranen.jukkapetteri@gmail.com</p>
                        <p>050 344 0852</p>
                    </div>
            
                </div>
            
            </div>
</div>
